* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.navbar {
  height: 80px;
  width: 100%;
  background-color: #4071f4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
a {
  color: inherit;
  text-decoration: none;
}
.logo {
  font-size: 30px;
  font-weight: 800;
}
.navlinks {
  display: flex;
  gap: 40px;
  font-size: 18px;
  font-weight: 600;
}
.navlinks > a:hover {
  text-decoration: underline;
}
.hero {
  height: calc(100vh - 80px);
  width: 100%;
  background-color: #eff8ff;
  display: flex;
}
.hero > section {
  height: 100%;
  width: 50%;
}
.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content > h1 {
  font-size: 80px;
  font-weight: 800;
}
.hero-content span {
  color: #4071f4;
}
.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.card-container {
  min-height: 100vh;
  max-height: 300vh;
  width: 100%;
  border: 2px solid black;
  background-color: yellow;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px 500px 500px;
  justify-items: center;
  align-items: center;
  gap: 50px;
}
.card {
  height: 400px;
  width: 300px;
  border: 2px solid black;
  background-color: aqua;
  
}
.item1 {
  justify-self: flex-end;
  align-self: flex-end;
}
.item3{
  justify-self: flex-start;
  align-self: flex-end;
}
.item4{
  justify-self: flex-start;
}
.item6{
  justify-self: flex-end;
}
.item7{
  justify-self: flex-end;
  align-self: flex-start;
}
.item9{
  justify-self: flex-start;
  align-self:flex-start;
}